/* style.css */
/* Garante que o site não ultrapasse a largura da tela */
html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

/* Configuração dos Ícones Material Symbols */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Regra para o Dropdown do Menu funcionar */
.group:hover .group-hover\:flex {
    display: flex;
}

/* Se precisar adicionar mais estilos personalizados que o Tailwind não cobre, adicione aqui */